
[aria-label$="README.md"] {
  display: none!important;
}
#toc .toc-link.level2 {
  border-bottom: 1px dashed rgb(0 0 0 / 10%);
}

@media (min-width: 768px) {}





@media (min-width: 992px) {}


@media (min-width: 1200) {
  .toc-place-holder {
    max-width: 75%;
  }
}